.DS_Store
dist/
client_deploy/
typings/
/typings.json
/jsconfig.json
/npm-debug.log
/uml.txt
/docker-compose*.yml
/Dockerfile
/DataDockerfile
/sqlserver_data/
/node_modules/
/.vscode/
/dbinit/
/logs/
/config/certs/
/config/schemas/
/config/approles/
/config/*.db
